<% extend('../layouts/masters') %>
 <!-- Content Header (Page header) -->
 <section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Category</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Admin</a></li>
                    <li class="breadcrumb-item active">Category</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-outline card-info">
                <div class="card-header">
                    <h3 class="card-title">
                        <div class="row">
                            <div class="col-5">
                                <input type="text" class="form-control" id="search" placeholder="Tên loại">
                            </div>
                            <div class="col-4">
                                <select class="form-control select2" id="status_search" style="width: 100%;">
                                    <option selected="selected" value="">Trạng thái</option>
                                    <option value="1">Đã duyệt</option>
                                    <option value="0">Chưa duyệt</option>
                                    <option value="2">Chờ duyệt lại</option>
                                </select>
                            </div>
                            <div class="col-3">
                                <button class="btn btn-block btn-outline-info" id="btnsearch"> search</button>
                            </div>
                        </div>
                    </h3>
                    <div class="card-tools">
                        <a href="" class="btn btn-info"> Thêm mới </a>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Tên loại</th>
                            <th>Icon</th>
                            <th style="width: 40px">Trạng thái</th>
                            <th style="width: 100px"></th>
                        </tr>
                        </thead>
                        <tbody id="pannel">
                            <%- include("table",{data:data.categories}) %>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer clearfix" id="pagination">
                    <%- include("../../pagination", {paginator: pages}) %>
                </div>
            </div>
        </div>
        <!-- /.col-->
    </div>
</section>
<script src="/admin/back.js"></script>
<script>
    var url_approved = "{!! route('categories.approved', ['category' => 'category']) !!}";
    var url_cancel = "{!! route('categories.cancel', ['category' => 'category']) !!}";

    var categories = (function () {

            var url = '/admin/categories';
            var title = "Are you sure?";
            var text = "You won't be able to revert this!";
            var cancelButtonText = "Cancel";
            var confirmButtonText = "Yes, delete it!";
            var errorAjax = "server_issue";
            var errorDelete = "error_delete";
            let popupConfigApproved = {title:"Bạn chắc chắn hành động này?",type:"warning",text:"Bạn sẽ cấp phép cho loại sản phẩm này?", cancelButtonText: "không",confirmButtonText:"Có"}
            let popupConfigCancel = {title:"Bạn chắc chắn hành động này?",type:"warning",text:"Bạn sẽ hủy bỏ loại sản phẩm này?", cancelButtonText: "không",confirmButtonText:"Có"}

            var onReady = function () {
                $('#pagination').on('click', 'ul.pagination a', function (event) {
                    back.pagination(event, $(this), errorAjax)
                });
                $('#pannel').on('change', function () {
                }).on('click', '.simpleConfirm', function (event) {
                    back.destroy(event, $(this), url, title, text, confirmButtonText, cancelButtonText, errorDelete)
                });
                $('th span').click(function () {
                    back.ordering(url, $(this), errorAjax)
                });
                $('#btnsearch').click(function () {
                    back.filters(url, errorAjax)
                });
                $(this).on("click",'.cancel-active', function(){
                    let categoryId = $(this).data("category");
                    let target = url_cancel.replace("category",categoryId)
                    let template = `<button class="mb-2 mr-2 btn btn-danger approved-active" data-category="${categoryId}"><i class="fa fa-ban"></i></button>`;
                    back.cancel(this, target, "POST", template, errorAjax, popupConfigCancel)
                });
                $(this).on('click','.approved-active', function(){
                    let categoryId = $(this).data("category");
                    let target = url_approved.replace("category",categoryId)
                    let template = `<button class="mb-2 mr-2 btn btn-success cancel-active" data-category="${categoryId}"><i class="fas fa-check-circle"></i></button>`
                    back.approved(this, target, "POST", template, errorAjax, popupConfigApproved)
                });
                $('#search').keypress(function (event) {
                    var keycode = (event.keyCode ? event.keyCode : event.which);
                    // console.log(keycode);
                    if (keycode == '13') {
                        event.preventDefault();
                        $('#btnsearch').focus().click();
                    }
                });
            };

            return {
                onReady: onReady
            }

        })();

    $(document).ready(categories.onReady)
</script>